{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block content %}
<div id="content-main">
    <div class="row mb-3" style="--bs-gutter-x: 1.5rem;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Ciro</h5>
                    <p class="card-text fs-4 fw-bold">{{ total_revenue|floatformat:2 }} TL</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Sipariş Sayısı</h5>
                    <p class="card-text fs-4 fw-bold">{{ total_orders }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toplam Müşteri Sayısı</h5>
                    <p class="card-text fs-4 fw-bold">{{ total_users }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if app_list %}
        {% for app in app_list %}
            <div class="app-{{ app.app_label }} module">
            <table>
            <caption>
                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
            </caption>
            {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.perms.change %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.perms.add %}
                    <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if model.perms.change %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to view or edit anything." %}</p>
    {% endif %}
</div>
{% endblock %}